.container {
    animation: fadeInBottomAnimation 1s ease-in-out forwards;
    padding: 0 15px; /* General padding for all devices */
}

.text-container {
    margin: 0 auto; /* Center align text container */
    text-align: center;
    padding: 20px; /* Add padding */
}

h4 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0;
}

h1 {
    font-size: 43px; /* Responsive font size */
    color: #ffffff;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 1366px) {
    .text-container {
        padding: 0 20px; 
    }

    h4 {
        margin: 20px 0;
    }

    h1 {
        font-size: 32px; /* Adjust h1 font size */
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 28px; /* Further adjustment for tablet */
    }
}

@media screen and (max-width: 768px) {
    .text-container {
        padding: 10px; /* Less padding for smaller screens */
    }

    h4 {
        font-size: 14px; /* Smaller font size */
    }

    h1 {
        font-size: 24px; /* Smaller font size for mobile */
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 20px; /* Further reduction for mobile */
    }

    .row {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}
