.skills {
    background-color: rgba(7, 7, 7, 1);

}


.skills-contianer {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    animation: fadeInLeftAnimation 1s ease-in forwards;
}

@media screen and (max-width: 768px) {
    .skills-contianer{
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
}

.title {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 20px;
    animation: fadeInLeftAnimation 1s ease-in forwards;
}

span {
    color: rgba(201, 243, 29, 1);

}

.heading {
    font-size: 43px;
    color: #ffffff;
    margin-left: 20px;
}

.text {
    font-size: 16px;
    color: white;
    padding-top: 30px;
    font-weight: 300;
    opacity: .5;
    margin-left: 20px;
}

.btn{
    margin-left: 16px;
    margin-bottom: 50px;
    margin-top: 70px;
}

.skills-items {
    animation: fadeInRightAnimation 1s ease-in-out forwards;
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .row {

        display: flex;  
        flex-wrap: wrap;
        margin: 10px;
        

    }
}

@media screen and (max-width: 768px) {
    .skills-items img {
        margin-top: 50px;
        width: 350px;
        
        height: 420px;
        margin-left: 10px;
    }
}

@keyframes fadeInLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottomAnimation {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(2%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}