.button {
    width: auto;
    padding: 12px 45px 12px 45px;
    border-radius: 16px;
    background-color: rgba(201, 243, 29, 1);
    font-weight: bold;
    border: none;
    position: relative; 
    transition: transform 0.5s ease-out;
}

.button:hover .icon {
    transform: translateX(8px);

}

.icon {
    position: absolute; 
    top: 23%;  
    color: #131313;
    left: auto;
    transition: transform 0.5s ease-out;
    padding-left: 3px;
}

@keyframes moveForward {
    from {
        transform: translateX(0); /* Initial position */
    }
    to {
        transform: translateX(8px); /* Move forward by 20px */
    }
}
