.card {
    width: 100%; /* Use full width and adjust based on screen size */
    max-width: 635px; /* Set a maximum width */
    height: auto; /* Allow height to adjust based on content */
    background-color: rgba(31, 31, 31, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 15px;
    margin: 30px auto; /* Center card and provide vertical spacing */
    padding: 20px; 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; 
    transition: 0.5s;
}

.card:hover {
    border: 1px solid rgba(201, 243, 29, 1);
}

.number {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px; /* Adjust margin for smaller screens */
}

.title {
    width: 100%; /* Full width */
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.description {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    margin: 5px 0; /* Add margin for spacing */
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%; /* Use 50% for a perfect circle */
    margin-top: 10px; /* Add margin for spacing */
    align-self: flex-end; /* Align to the end of the card */
    text-align: center;
}

.circle svg {
    margin-top: 10px;
    transition: 0.5s;
}

.circle:hover {
    background-color: rgba(201, 243, 29, 1);
    color: #131313;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .card {
        padding: 20px;
        margin: 10px; /* Reduce margin for smaller screens */
    }

    .title {
        font-size: 16px; /* Adjust title size */
    }

    .description {
        font-size: 14px; /* Adjust description size */
    }
}

@media screen and (max-width: 480px) {
    .card {
        padding: 15px; /* Further reduce padding */
    }

    .number {
        font-size: 20px; /* Adjust number size */
    }

    .title {
        font-size: 16px; /* Further adjust title size */
    }

    .description {
        font-size: 12px; /* Further adjust description size */
    }

    .circle {
        width: 35px; /* Smaller circle */
        height: 35px;
    }

    .circle svg {
        margin-top: 8px; /* Adjust icon margin */
    }
}
